@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
body{
font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
}
.background {
  margin: auto;
  position: relative;
  /* background: url('./components/images/background.svg') no-repeat center center; */
  width: 375px;
  height: auto;
  /* border-radius: 30px; */
  object-fit: cover;
}